<section class="page-section" id="contact">
    <div class="container">

        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Actualizar {{aplicacion.titulo}}
        </h2>

        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-star"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>

        <div class="row">
            <div class="col-lg-6 mx-auto">
                <form method="POST" id="contactForm" autocomplete="off" enctype="multipart/form-data"
                    ng-submit="actualizarAplicacion()">
                    <input type="hidden" name="aplicacionActualizar" ng-model="aplicacion.id">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="background: white" id="basic-addon1"><i
                                    class="fas fa-pencil-alt" style="color: #1abc9c;font-size: 20px;"></i></span>
                        </div>
                        <input class="form-control" style="border-left: none;" id="name" type="text" title="Titulo"
                            autofocus required ng-model="aplicacion.titulo">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="background: white" id="basic-addon1"><i
                                    class="fas fa-link" style="color: #1abc9c;font-size: 20px;"></i></span>
                        </div>
                        <input class="form-control" style="border-left: none;" id="email" type="url"
                            title="Link de descarga" required ng-model="aplicacion.link">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="background: white" id="basic-addon1"><i
                                    class="far fa-calendar-alt" style="color: #1abc9c;font-size: 20px;"></i></span>
                        </div>
                        <input class="form-control" style="border-left: none;" id="fecha" type="date"
                            title="Fecha de entrega" required ng-model="aplicacion.fecha">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="background: white" id="basic-addon1"><i
                                    class="fas fa-edit" style="color: #1abc9c;font-size: 20px;"></i></span>
                        </div>
                        <textarea class="form-control" style="border-left: none;" id="descripcion" rows="3"
                            title="Descripción" required ng-model="aplicacion.descripcion"></textarea>
                    </div>
                    <p>Seleccione las tecnologias usadas en la aplicación:</p>
                    <div class="row mx-auto">
                        <div ng-repeat="tecnologia in tecnologias" title="{{tecnologia.nombre}}">
                            <input type="checkbox" value="{{tecnologia.id}}" ng-model="tecnologia.checked"
                                id="tec{{tecnologia.id}}" />
                            <label for="tec{{tecnologia.id}}" class="btn btn-{{tecnologia.color}} {{clase}} m-2"><i
                                    class="{{tecnologia.foto}}"></i></label>
                        </div>
                    </div>
                    <br><br>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block" id="sendMessageButton">Actualizar <i class="fas fa-sync-alt ml-2"></i></button>
                        <a href="#!administrarAplicaciones" class="btn btn-danger btn-block">Cancelar
                            <i class="fas fa-times-circle ml-2"></i></a>
                    </div>
                </form>
            </div>
        </div>

    </div>
</section>
<ul class='c-notification__container' ng-show="error">
    <li class='c-notification c-notification--danger c-notification--show animated bounceInRight'>
        <div class='c-notification__icon-container'>
            <div class='c-notification__icon'>
                <i class="fas fa-times"></i>
            </div>
        </div>
        <div class='c-notification__message'>
            {{mensaje}}
        </div>
        <a class='c-notification__close' ng-click="error=false">
            <i class="fas fa-times-circle"></i>
        </a>
    </li>
</ul>
<ul class='c-notification__container' ng-show="mostrar">
    <li class='c-notification c-notification--success c-notification--show animated bounceInRight'>
        <div class='c-notification__icon-container'>
            <div class='c-notification__icon'>
                <i class="fas fa-check"></i>
            </div>
        </div>
        <div class='c-notification__message'>
            {{mensaje}}
        </div>
        <a class='c-notification__close' ng-click="mostrar=false">
            <i class="fas fa-times-circle"></i>
        </a>
    </li>
</ul>