<section class="page-section" id="contact">
    <div class="container">

        <h4 class="page-section-heading text-center text-uppercase text-secondary mb-0">Administrar Talleres de Análisis
            y Diseño de Sistemas</h4>

        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-star"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <form method="POST" id="contactForm" ng-submit="guardarTaller()">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="background: white" id="basic-addon1"><i
                                    class="fas fa-pencil-alt" style="color: #1abc9c;font-size: 20px;"></i></span>
                        </div>
                        <input class="form-control" style="border-left: none;" id="name" type="text" title="Titulo"
                            autofocus required ng-model="taller.titulo">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="background: white" id="basic-addon1"><i
                                    class="fas fa-link" style="color: #1abc9c;font-size: 20px;"></i></span>
                        </div>
                        <input class="form-control" style="border-left: none;" id="email" type="url"
                            title="Link de descarga" required ng-model="taller.link">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="background: white" id="basic-addon1"><i
                                    class="far fa-file-alt" style="color: #1abc9c;font-size: 20px;"></i></span>
                        </div>
                        <select class="custom-select" id="inputGroupSelect01" title="Tipo de Archivo"
                            style="border-left: none;" ng-model="taller.archivo" required>
                            <option selected disabled>No Selección</option>
                            <option value="1">WORD</option>
                            <option value="2">PDF</option>
                            <option value="3">RAR</option>
                            <option value="4">EXCEL</option>
                            <option value="5">POWER POINT</option>
                            <option value="6">PRUEBA</option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="background: white" id="basic-addon1"><i
                                    class="far fa-calendar-alt" style="color: #1abc9c;font-size: 20px;"></i></span>
                        </div>
                        <input class="form-control" style="border-left: none;" id="fecha" type="date"
                            title="Fecha de entrega" required ng-model="taller.fecha">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="background: white" id="basic-addon1"><i
                                    class="fas fa-file-signature" style="color: #1abc9c;font-size: 20px;"></i></span>
                        </div>
                        <input class="form-control" style="border-left: none;" id="nombre" type="text"
                            title="Nombre Taller" required ng-model="taller.nombre">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="background: white" id="basic-addon1"><i
                                    class="fas fa-edit" style="color: #1abc9c;font-size: 20px;"></i></span>
                        </div>
                        <textarea class="form-control" style="border-left: none;" id="descripcion" rows="3"
                            title="Descripción" required ng-model="taller.descripcion"></textarea>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="background: white" id="basic-addon1"><i
                                    class="fas fa-book-reader" style="color: #1abc9c;font-size: 20px;"></i></span>
                        </div>
                        <select class="custom-select" id="inputGroupSelect01" title="Curso" style="border-left: none;"
                            ng-model="taller.curso" required>
                            <option selected disabled>No Selección</option>
                            <option value="1">Análisis y Diseño</option>
                            <option value="2">Ingenieria de Software</option>
                        </select>
                    </div>
                    <br>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block" id="sendMessageButton">Guardar <i
                                class="fas fa-save ml-2"></i></button>
                    </div>
                </form>
            </div>
            <div class="col-lg-8">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" style="background: white" id="basic-addon1"><i
                                class="fas fa-search" style="color: #1abc9c;font-size: 20px;"></i></span>
                    </div>
                    <input class="form-control" style="border-left: none;" id="name" type="text" placeholder="Buscar"
                        required ng-model="busqueda">
                </div>
                <div class="table-responsive" style="height: 450px;overflow: scroll;">
                    <div class="row mb-2">
                        <div class="col-lg-8 col-sm-12">
                            <button class="btn" title="Filtrar" style="float: left;background: #1abc9c;color:white;"
                                ng-click="curso='Ingenieria'">Software</button>
                            <button class="btn ml-2" title="Filtrar"
                                style="float: left;background: #1abc9c;color:white;"
                                ng-click="curso='Análisis'">A&D</button>
                            <button class="btn btn-dark ml-2" title="Filtrar" style="float: left;"
                                ng-click="curso=''">Todos </button>
                        </div>
                    </div>
                    <table class="table table-hover table-dark">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Titulo</th>
                                <th scope="col">Archivo</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="animated fadeIn"
                                ng-repeat="taller in talleres | filter:busqueda | filter:curso | orderBy:'-id':reverse">
                                <td>{{$index+1}}</td>
                                <td>{{taller.titulo}}</td>
                                <td>{{taller.archivo}}</td>
                                <td>{{taller.fecha | date}}</td>
                                <td>{{taller.nombre}}</td>
                                <td>
                                    <a href="#!taller/{{taller.id}}" class="btn" title="Editar"
                                        style="background: #1abc9c;color:white;"><i class="fas fa-edit"></i></a>
                                    <button class="btn btn-danger mt-2" title="Eliminar"
                                        ng-click="eliminarTaller(taller.id)"><i class="fas fa-trash-alt"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</section>
<ul class='c-notification__container' ng-show="creado">
    <li class='c-notification c-notification--success c-notification--show animated bounceInRight'>
        <div class='c-notification__icon-container'>
            <div class='c-notification__icon'>
                <i class="fas fa-check"></i>
            </div>
        </div>
        <div class='c-notification__message'>
            {{respuesta.mensaje}}
        </div>
        <a class='c-notification__close' ng-click="creado=false">
            <i class="fas fa-times-circle"></i>
        </a>
    </li>
</ul>