.aplicacion-item{
    cursor: pointer;
    position: relative;
    display: block;
    max-width: 25rem;
    overflow: hidden;
}

.aplicacion-item-caption {
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.3s;
    opacity: 0;
    background-color: #1abc9c;
}
.aplicacion-item-caption:hover{
    opacity: 0.9;
}

.aplicacion-item-caption-content {
    font-size: 1.5rem;
}

.c-notification {
    -webkit-box-shadow: 7px 9px 5px -5px rgba(0, 0, 0, 0.32);
    -moz-box-shadow: 7px 9px 5px -5px rgba(0, 0, 0, 0.32);
    box-shadow: 7px 9px 5px -5px rgba(0, 0, 0, 0.32);
    background: white;
    display: block;
    margin: 20px;
    min-height: 60px;
    transform: translateX(1000px);
    transition: all 0.5s ease-in-out;
    float: right;
    clear: right;
  }
  .c-notification > * {
    margin: 0;
    display: inline-block;
    vertical-align: middle;
  }
  .c-notification__icon {
    width: 60px;
    height: 60px;
    display: table;
    text-align: center;
    position: absolute;
    top: calc(50% - 30px);
  }
  .c-notification__icon > * {
    display: table-cell;
    font-size: 20px;
    vertical-align: middle;
    color: white;
  }
  .c-notification__icon-container {
    height: 100%;
    min-height: 60px;
    width: 60px;
    position: relative;
  }
  .c-notification__message {
    min-height: 60px;
    max-width: 500px;
    min-width: 300px;
    line-height: 20px;
    padding: 20px 10px;
    box-sizing: border-box;
    font-weight: 300;
    color: #4B4B4B;
    background: white;
  }
  .c-notification__close {
    width: 60px;
    min-height: 60px;
    line-height: 20px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
  }
  .c-notification__close > * {
    display: inline-block;
    color: #C1C1C1;
  }
  .c-notification__container {
    position: fixed;
    right: 5em;
    top: 500px;
  }
  .c-notification--show {
    transform: translateX(0);
  }

  .c-notification--success {
    background-color: #A7ED5B;
    background: -moz-linear-gradient(left, #A7ED5B 0%, #A7ED5B 50%, white 50%, white 100%);
    background: -webkit-linear-gradient(left, #A7ED5B 0%, #A7ED5B 50%, white 50%, white 100%);
    background: -o-linear-gradient(left, #A7ED5B 0%, #A7ED5B 50%, white 50%, white 100%);
    background: -ms-linear-gradient(left, #A7ED5B 0%, #A7ED5B 50%, white 50%, white 100%);
    background: linear-gradient(to right, #A7ED5B 0%, #A7ED5B 50%, white 50%, white 100%);
  }
  .c-notification--success > .c-notification__icon-container {
    background-color: #A7ED5B;
  }

  .c-notification--danger {
    background-color: #ED6052;
    background: -moz-linear-gradient(left, #ED6052 0%, #ED6052 50%, white 50%, white 100%);
    background: -webkit-linear-gradient(left, #ED6052 0%, #ED6052 50%, white 50%, white 100%);
    background: -o-linear-gradient(left, #ED6052 0%, #ED6052 50%, white 50%, white 100%);
    background: -ms-linear-gradient(left, #ED6052 0%, #ED6052 50%, white 50%, white 100%);
    background: linear-gradient(to right, #ED6052 0%, #ED6052 50%, white 50%, white 100%);
  }
  .c-notification--danger > .c-notification__icon-container {
    background-color: #ED6052;
  }

  @media screen and (max-width: 900px) and (min-width: 300px) {
    .c-notification__container {
      position: fixed;
      right: 1em;
      top: 80%;
      bottom: 0;
      width: 100%;
    }

    .c-notification__icon-container {
      height: 20px;
      width: 50px;
      position: relative;
    }

    .c-notification__message {
      min-height: 30px;
      max-width: 250px;
      min-width: 200px;
      line-height: 20px;
      padding-left: 25px;
    }
    .c-notification__close {
      width: 20px;
      min-height: 30px;
      line-height: 20px;
      padding: 0;
    }
  }